
body{
  margin:0;
  padding:0;

}
.blackBackground{
  background-color: #000000;
}

header{
  background-color: #fff;
  padding:20px;
  width:auto;
  box-sizing: border-box;
  display: inline-block !important;
}

.headerLogo{
  height: auto;
  max-height: 100%;
  max-width: none;
  width: 180px;
}

footer{
  margin: 0;
  overflow: hidden;
  max-width: 100vw;
}

.headerTitle{
  font-weight: 300;
  color: #000;
  font-size: 23px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.footerTitle{
  background-color: #000;
  font-weight: 300;
  color: #fff;
  font-size: 23px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
.footerBannerImg{
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-size: contain;
  width: 100%;
}